In [57]:
import numpy as np
import scipy.stats as stats
import pandas as pd

In [58]:
xls = pd.ExcelFile('../data/btc future and reference rate/chains of btc future last price.xlsx')

In [113]:
df_arr = []
for i in range(1, 42+1):
    df = pd.read_excel(xls, 'Sheet%s'%i)
#     future_name = df.iloc[2,1]
    df.columns = ['Date', 'PX_LAST']
    df = df.iloc[5:, :]
    df.reset_index(drop=True, inplace=True)
    df.Date = pd.to_datetime(df.Date)
    df_arr.append(df)

In [115]:
results = pd.concat(df_arr, axis=0)

df_arr[1]

In [93]:
df

                  Dates PX_LAST
0   2018-01-26 00:00:00   10925
1   2018-01-25 00:00:00   11245
2   2018-01-24 00:00:00   11115
3   2018-01-23 00:00:00   11095
4   2018-01-22 00:00:00   10355
5   2018-01-19 00:00:00   11360
6   2018-01-18 00:00:00   11815
7   2018-01-17 00:00:00   10945
8   2018-01-16 00:00:00   11160
9   2018-01-12 00:00:00   13945
10  2018-01-11 00:00:00   13385
11  2018-01-10 00:00:00   14450
12  2018-01-09 00:00:00   14750
13  2018-01-08 00:00:00   14905
14  2018-01-05 00:00:00   16590
15  2018-01-04 00:00:00   14900
16  2018-01-03 00:00:00   14975
17  2018-01-02 00:00:00   14855
18  2017-12-29 00:00:00   14470
19  2017-12-28 00:00:00   13745
20  2017-12-27 00:00:00   14690
21  2017-12-26 00:00:00   15785
22  2017-12-22 00:00:00   14135
23  2017-12-21 00:00:00   15330
24  2017-12-20 00:00:00   17040
25  2017-12-19 00:00:00   18200
26  2017-12-18 00:00:00   19100
27  2017-12-15 00:00:00   19500

In [92]:
list(df.iloc[4,:])

[datetime.datetime(2018, 1, 22, 0, 0), 10355]